/* spolecne */
BODY { background-color: WHITE; color: #444444; font-family: sans-serif, Lucida, Verdana, Helvetica; font-size: 11pt }
TD { color: #444444; font-size: 11pt }
A { color:#447799; text-decoration: underline }
A:hover { color:#002244; text-decoration: none }
P, DIV, SPAN { color: #444444; font-size: 11pt }
LI { color: #444444; font-size: 11pt }
TD.bezmezer { padding: 0 0 0 0 }
TD.systinet div {
    text-align: center;
    margin-top: 5px;
    border: 3px solid #aa0000;
    background-color: white;
    padding: 5px }
TD.systinet div p { text-align: left; margin: 2 0 0 0 }
TD.systinet div p a { text-decoration: none; color: black }
.error { color: RED; font-size: bigger }
.message { font-size: bigger; color:blue; padding: 1ex 0ex }
.required { font-weight: bolder }
P.monitor { }

/* sablona */
SPAN.barva { color: #225577; font-size: 10pt }
SPAN.barva1 { color: #AADDEE; font-size: 10pt }
SPAN.pidianketa { color: WHITE; font-size: 10pt }
SPAN.pidibila { color: WHITE; font-size: 10pt }
SPAN.pidibilatucna { color: WHITE; font-size: 10pt; font-weight: bold }
SPAN.piditucna { color: BLACK; font-size: 10pt; font-weight: bold }
SPAN.sro { color:white; font-size: 13pt; font-weight: bold }
INPUT.menu { font-size: 8pt }
A.sro { color:white; font-size: 12pt; font-weight: bold; text-decoration: none; position: relative }
A.sro:hover { color: #AADDEE; position: relative; left: 1px; top: 1px }
A.bila { color: WHITE; font-size: 10pt; text-decoration: underline }
A.bila:hover { color: WHITE; text-decoration: none }
A.menu { color:white; font-size:10pt; text-decoration:none }
A.menu:hover { color:#AADDEE; text-decoration:underline }
A.server { color: #DDFFFF; font-size: 10pt; text-decoration: none; font-weight: bold }
A.server:hover { color:WHITE; text-decoration: underline }
A.ikona { color:#447799; font-size: 10pt; border: 0px; text-decoration: underline }
A.ikona:hover { color:#002244; text-decoration: none }
TD.barva1 { background-image: url(/images/site/bgprechod.gif); background-repeat: repeat-x; background-color: #3A5E75; color: WHITE }
TD.barva2 { background-image: url(/images/site/bod.gif); background-color: #5F8EAC; color: white; padding: 2 2 3 8 }
TD.cerna { background-image: url(/images/site/oblouk.gif); background-repeat: no-repeat; background-color: BLACK; color: WHITE; font-size:10pt; padding: 2 2 2 4 }
TD.cerna0 { background-repeat: no-repeat; background-position: bottom left; background-color: BLACK; color: WHITE; font-size: 10pt }
TD.cerna2 { background-image: url(/images/site/oblouk2.gif); background-repeat: no-repeat; background-color: BLACK; color: WHITE; font-size:10pt; padding: 2 2 2 6 }
TD.cerna3 { background-image: url(/images/site/oblouk3.gif); background-repeat: no-repeat; background-color: BLACK; color: WHITE; font-size:10pt }
TD.lista { background-repeat: no-repeat; background-position: bottom left; color: white; font-size: 10pt; padding: 0px }
TD.listaBG1 { background-color: #3d5365 }
TD.listaBG2 { background-color: #6689a1 }
TD.seda { background-repeat: no-repeat; background-color: #EEEEEE; color: BLACK }
TD.banner { background-repeat: repeat-x; background-color: #EEEEEE; background-image: url(/images/site/lista-stin.gif); color: BLACK }
TD.zpravicky P { color: #cccccc; font-size: 10pt }
TD.zpravicky P A { color: white; font-size: 10pt }
TD.zpravicky SPAN { color: #cccccc; font-size: 9pt }
TD.zpravicky SPAN A { color: white; font-size: 9pt }
IMG.emo { border: 0; width: 14px; height: 14px; vertical-align: middle; }
IMG.graf { padding: 2px 4px; border: 0; height: 3px; }
IMG.ikona { border: 0; width: 32px; height: 32px;}
IMG.ikona22 { border: 0; width: 22px; height: 22px; }
IMG.puntik { padding: 2px 2px 2px 6px; width: 6px; height: 8px; }
IMG.puntik2 { padding-top: 2px; width: 6px; height: 8px; }
IMG.sipka { border: 0; width: 11px; height: 7px; }

/* index */
P.perex_out { padding: 0ex 0ex;  }
A.nadpis_out { color:BLACK; font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-weight:bold }
A.nadpis_out:hover { color:#003355 }
TD.jadro_h { font-weight: bold; font-size: 10pt}
TD.jadro_p { font-size: 10pt }

/* clanek */
H1.nadpis { color:BLACK; font-size:18pt; font-weight:bold }
H1,DIV.sub1 { color: BLACK; font-size:14pt; font-weight: BOLD; padding: 0px 0px }
H2,DIV.sub2 { color: BLACK; font-size:13pt; font-weight: BOLD; padding: 0px 0px }
Div.perex, P.perex { border-width: thin 0; border-color: black; border-style: solid; background-color: #EEEEEE; padding: 3px; margin-top: 5px }
DIV.linky { padding: 0 3px; }
table.source { background-color: #e6e6e6; border-width: thin; border-style: solid;  border-color: #838383;}
td.pad { padding-left: 1ex; padding-right: 3px;}
SPAN.odsazeni { padding-left: 2ex; }
DIV.kt_citace { color:#880000; }
DIV.kt_citace OL LI { color:#880000; }
DIV.kt_citace P { color:#880000; }
DIV.kt_citace UL LI { color:#880000; }
SPAN.kt_citace { color:#880000 }
DIV.paticka,DIV.kt_paticka { font-style: italic; padding-top: 5px; }

/* kategorie */
DIV.note { padding-top: 10pt; padding-bottom: 5pt;}

/* komentare, diskusni forum */
DIV.diz_list { background-color: #EEEEEE; }
P.diz_header { background-color: #EEEEEE; }
SPAN.diz_header_new { font-size: bigger; font-style: italic; color:blue; }
SPAN.diz_header_prefix { font-style: italic; }.
p.cenzura { border-width: 2px; border-color: blue; border-style: solid; background-color: #EEEEEE; padding: 1ex; margin-top: 6px}
.textbanner { background-color: #CCFFFF; border: 1px solid #66CCCC; color: #000000; }
DIV.signature { margin-top: 8px; font-style: italic; font-size: smaller }