body {	font-family: sans-serif;
	font-size: small; 
	background: #ececec;
	color: black; 
	padding: 0 0 0 0; }

a, h3 a:hover {
	text-decoration: underline;
	color: black; }

a:hover, h3 a { text-decoration: none; }
.clanek { margin-bottom: 0.1em; }
.clanek a { font-weight: bold; }
.zpravicka a { color: #27648D; }

.zpravicka a:hover {
	background: #FFF8C3;
	color: black; }

.zpravicka div {
	padding: 0.2em 0 0 0.2em; }
