#ibm-vip .s_nadpis {
	border-color: #C0C0C0;
	background-color: black;
	margin-bottom: 0;
}

#ibm-vip .s_nadpis img { margin-top: 1px; }
#ibm-vip .s_nadpis a { color: white; }

#ibm-vip .s_nadpis a:hover {
	background-color: transparent;
	color: blue;
}
