.bsupport-box { border: 1px dotted;
                font-size: small;
                padding: 0.3em;
                border-color: #ff0000;
                color: #ff0000; }
.bsupport-box a { text-decoration: none;
                  color: #ff0000; }
.bsupport-box a:hover { text-decoration: underline;
                        background-color: #ff0000;
                        color: white; }
