.sun-box {
	background: top repeat-x;
	border: 1px solid;
	margin-bottom: 0.5em;
	font-size: small;
	clear: right;
	background-color: #5583A2;
	background-image: url('/images/bannery/sun-back.png');
	color: white;
	border-color: #4B4B4B;
}
.sun-box p { padding: 0.3em 0 0.5em 0.5em; }
.sun-box a { color: white; }
.sun-box a:hover { background-color: #E97D19; }

.bsupport-box { border: 1px dotted;
                font-size: small;
                padding: 0.3em;
                border-color: #ff0000;
                color: #ff0000; }
.bsupport-box a { text-decoration: none;
                  color: #ff0000; }
.bsupport-box a:hover { text-decoration: underline;
                        background-color: #ff0000;
                        color: white; }

.miton-box { border: 2px solid;
             font-size: small;
             padding: 0.3em;
             border-color: black;
             color: black; }
.miton-box a { color: #dd2b0f; }
.miton-box a:hover { background-color: #dd2b0f;
                     color: white; }

.novell-box { border: 1px solid red;
              background-color: white;
              color: black; }
.novell-box a.h { color: black; }
.novell-box a.h:hover { background-color: white;
                     color: black; }
.novell-box a { color: red; }
.novell-box a:hover { background-color: red;
                      color: white; }

.jobscz-box { background: #003b6d;
              min-height: 45px;
              padding: 0 0 0 0.5em;
              color: white;
              font-size: small; }
.jobscz-box a { color: #fa9600; }
.jobscz-box a:hover { background: #fa9600;
                      color: #003b6d; }
