<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%d %C{2} - %m%n"/>
           </layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
           <param name="File" value="@DEPLOY_LOGS@/abc.log" />
           <param name="Append" value="true" />
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%d %-5p %C{1} - %m%n"/>
           </layout>
	</appender>

	<appender name="PROXOOL" class="org.apache.log4j.FileAppender">
           <param name="File" value="@DEPLOY_LOGS@/proxool.log" />
           <param name="Append" value="true" />
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%d | %m%n"/>
           </layout>
	</appender>

	<appender name="ADMIN" class="org.apache.log4j.FileAppender">
           <param name="File" value="@DEPLOY_LOGS@/admin.log" />
           <param name="Append" value="true" />
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%d | %m%n"/>
           </layout>
	</appender>

	<appender name="SECURITY" class="org.apache.log4j.FileAppender">
           <param name="File" value="@DEPLOY_LOGS@/security.log" />
           <param name="Append" value="true" />
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%d | %m%n"/>
           </layout>
	</appender>

	<appender name="WAP" class="org.apache.log4j.DailyRollingFileAppender">
           <param name="File" value="@DEPLOY_LOGS@/wap.log" />
           <param name="DatePattern" value="'.'yyyy-MM" />
           <param name="Append" value="true" />
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%m%n"/>
           </layout>
	</appender>

	<appender name="REQUESTS" class="org.apache.log4j.DailyRollingFileAppender">
           <param name="File" value="@DEPLOY_LOGS@/requests.log" />
           <param name="DatePattern" value="'.'yyyy-MM" />
           <param name="Append" value="true" />
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%d - %m%n%n-----%n%n"/>
           </layout>
	</appender>

	<category name="cz">
	  <priority value="info" />
	</category>

	<category name="cz.abclinuxu.utils.email">
	  <priority value="info" />
	</category>

	<category name="cz.abclinuxu.persistence.SQLTool">
	  <priority value="warn" />
	</category>

	<category name="cz.abclinuxu.scheduler.VariableFetcher">
	  <priority value="info" />
	</category>

	<category name="security" additivity="false">
	  <priority value="info" />
      <appender-ref ref="SECURITY"/>
	</category>

	<category name="com.whirlycott" additivity="false">
	  <priority value="warn" />
	</category>

	<category name="wap" additivity="false">
	  <priority value="info" />
      <appender-ref ref="WAP"/>
	</category>

	<category name="requests" additivity="false">
	  <priority value="info" />
      <appender-ref ref="REQUESTS"/>
	</category>

	<category name="org.logicalcobwebs.proxool" additivity="false">
	  <priority value="warn" />
 	  <appender-ref ref="PROXOOL" />
	</category>

	<category name="freemarker" additivity="false">
	  <priority value="fatal" />
 	  <appender-ref ref="FILE" />
	</category>

	<root>
	   <priority value="info" />
   	   <appender-ref ref="FILE" />
	</root>

</log4j:configuration>
