<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%d %C{2} - %m%n"/>
           </layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
           <param name="File" value="@DEPLOY_LOGS@/abc.log" />
           <param name="Append" value="true" />
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%d %-5p %C{1} - %m%n"/>
           </layout>
	</appender>

	<appender name="PROXOOL" class="org.apache.log4j.FileAppender">
           <param name="File" value="@DEPLOY_LOGS@/proxool.log" />
           <param name="Append" value="true" />
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%d | %m%n"/>
           </layout>
	</appender>

	<appender name="ADMIN" class="org.apache.log4j.FileAppender">
           <param name="File" value="@DEPLOY_LOGS@/admin.log" />
           <param name="Append" value="true" />
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%d | %m%n"/>
           </layout>
	</appender>

	<appender name="SEARCH" class="org.apache.log4j.DailyRollingFileAppender">
           <param name="File" value="@DEPLOY_LOGS@/search.log" />
           <param name="DatePattern" value="'.'yyyy-MM" />
           <param name="Append" value="true" />
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%d | %m%n"/>
           </layout>
	</appender>

	<category name="cz">
	  <priority value="info" />
	</category>

	<category name="cz.abclinuxu.utils.email">
	  <priority value="info" />
	</category>

	<category name="cz.abclinuxu.security" additivity="false">
	  <priority value="info" />
      <appender-ref ref="ADMIN"/>
	</category>

	<category name="search" additivity="false">
	  <priority value="info" />
      <appender-ref ref="SEARCH"/>
	</category>

	<category name="org.logicalcobwebs.proxool" additivity="false">
	  <priority value="warn" />
 	  <appender-ref ref="PROXOOL" />
	</category>

	<root>
	   <priority value="info" />
   	   <appender-ref ref="FILE" />
	</root>

</log4j:configuration>
