#macro(sync $object)
#if(!$object.isInitialized()) $PERSISTANCE.synchronize($object)#end
#end

#macro(parents)
#if($RELATION)
<div class="parents">
#foreach($parent in $PARENTS)
#if($velocityCount==1) #sync($parent.Parent)
<a href="$!PREFIX.constructURL("/ViewCategory?categoryId=${parent.Parent.Id}",$res)">$parent.Parent.Data.selectSingleNode('data/name').Text</a>
#end
- <a href="$!PREFIX.constructURL("/ViewRelation?relationId=${parent.Id}",$res)">$HELPER.getChildName($parent)</a>
#end</div>#end#end
