#####
## Macro, that synchronizes selected generic object with persistance
#####

#macro(sync $object)
#if($object)
#if(!$object.isInitialized())$PERSISTANCE.synchronize($object)#end
#end
#end



#####
## Macro, that displays parents of selected generic object
#####

#macro(parents)
#if($RELATION)
<div class="parents">
#foreach($parent in $PARENTS)
#if($velocityCount==1) #sync($parent.Parent)
<a href="$!URL.make("/ViewCategory?categoryId=$parent.Parent.Id")">$!UTIL.getXPath($parent.Parent,'data/name')</a>
#end
- <a href="$!URL.make("/ViewRelation?relationId=$parent.Id")">$!UTIL.getChildName($parent)</a>
#end</div>#end#end



#####
## Macro, that shows messages and generic errors
#####

#macro(showMessages)
#foreach ($msg in $MESSAGES)<div class="message">$msg</div>#set($found=true)#end
#if($!ERRORS.get('generic'))<div class="error">$ERRORS.get('generic')</div>#set($found=true)#end
#if($found)<br>#end
#end



#####
## Macro, that displays closed poll
#####

#macro(showClosedPoll $poll $displayCreated)
##
#sync($poll)
#set ($total = $poll.TotalVotes)
<table border="0" cellpadding="3">
<tr><td colspan=3 class="hlavicka_ankety">$!poll.Text</td></tr>
#####################################
#foreach ($choice in $poll.Choices)## Iterates over choices in poll
#####################################
#set($procento=$UTIL.percent($choice.Count,$total))
##
<tr><td class="volby_ankety">$choice.Text</td>
<td><img src="/images/site/poll.gif" height=11 width=$procento alt="$!UTIL.percentBar($procento)"></td>
<td class="volby_ankety">${procento}% ($choice.Count)</td></tr>
######
#end## end of iteration over poll choices
######
<tr><td colspan=2 class="vysledek_ankety">Celkem $total hlasù</td>
<td>
##
#if($USER.Id==1)
<a href="$!URL.make("/EditPoll?relationId=$RELATION.Id&pollId=$poll.Id&action=edit")"><IMG SRC="/images/actions/pencil.png" BORDER="0" WIDTH="22" HEIGHT="22" ALT="Uprav"></a>
#end
##
</td></tr>
##
#if ($displayCreated)
<tr><td colspan=3>Vytvoøeno: $!UTIL.showDate($poll.Created)</td></tr>
#end
##
</table>
##
#end



#####
## Macro, that displays open poll
#####

#macro (showOpenPoll $poll $url)
#sync($poll)
#set ($total = $poll.TotalVotes)
<form action="$!URL.make('/EditPoll')" method="POST">
<table border="0" cellpadding="3">
<tr><td colspan=3 class="hlavicka_ankety">$!poll.Text</td></tr>
#####################################
#foreach ($choice in $poll.Choices)## Iterates choices in poll
#####################################
#set($procento=$UTIL.percent($choice.Count,$total))
##
<tr><td class="volby_ankety">
#if ( $poll.isMultiChoice() )
<input type="checkbox" name="voteId" value="$!choice.Id" #if($velocityCount==1) checked #end>
#else
<input type="radio" name="voteId" value="$!choice.Id" #if($velocityCount==1) checked #end>
#end
$choice.Text</td>
<td><img src="/images/site/poll.gif" height=11 width=$procento alt="$!UTIL.percentBar($procento)"></td>
<td class="volby_ankety">${procento}% ($choice.Count)</td></tr>
######
#end## end of iteration over poll choices
######
<tr><td colspan=2 class="vysledek_ankety">Celkem $total hlasù</td>
<td>
##
#if($USER.Id==1)
<a href="$!URL.make("/EditPoll?relationId=$RELATION.Id&pollId=$poll.Id&action=edit")"><IMG SRC="/images/actions/pencil.png" BORDER="0" WIDTH="22" HEIGHT="22" ALT="Uprav"></a>
#end
##
</td></tr>
<tr><td colspan=2><input type="submit" value="Hlasuj"></td></tr>
</table>
##
$!UTIL.saveParams($PARAMS, [])
<input type="hidden" name="pollId" value="$!poll.Id">
<input type="hidden" name="url" value="$url">
<input type="hidden" name="action" value="vote">
</form>
#end



#####
## Macro, that shows article header
#####

#macro (showArticle $relation $last)
#set($clanek=$relation.Child)
#set($dizs=$UTIL.filterDiscussions($clanek.Content))
#if($dizs.size()>0)#set($diz=$!UTIL.prepareDiscussion($dizs.get(0)))#undef('dizs')#end
#set($author=$UTIL.instantiate('User',$!UTIL.getXPath($clanek,'/data/author')))#sync($author)
##
<A CLASS="nadpis_out" HREF="/clanky/ViewRelation?relationId=$relation.Id">$!UTIL.getXPath($clanek,'/data/name')</A><BR>
<SPAN CLASS="barva">$!UTIL.showDate($!UTIL.getXPath($clanek,'/data/published')) |
<A HREF="/Profile?userId=$!author.Id">$!author.Name</A></SPAN>
<P class="perex_out">$!UTIL.getXPath($clanek,'/data/perex')</P>
<SPAN CLASS="barva">Pøeèteno: $!PERSISTANCE.getCounterValue($clanek)x
#if($diz)
| <a href="/clanky/ViewRelation?relationId=$!diz.RelationId">Komentáøù: $!diz.ResponseCount</a>
#if($diz.ResponseCount>0), poslední $UTIL.showDizDate($diz.LastUpdate)#end
#undef('diz')
#end
</SPAN>
<P/>
<IMG SRC="/images/site/sedybod.gif" WIDTH="100%" HEIGHT="1" BORDER="0" ALT="---">
#if($last)<BR><IMG SRC="/images/site/sedybod.gif" WIDTH="100%" HEIGHT="1" VSPACE="1" BORDER="0" ALT="---">#end
<P/>
#end



#####
## Macro, that recursivly displays one thread
#####

#macro(thread $one $level $diz $relation)
#set($space=$level*15)
<div style="padding-left: $!{space}pt">
#comment($one.Record $diz $relation)
</div>
#foreach($child in $one.List)
#set($level2=$level+1)
#thread($child $level2 $diz $relation)
#end

#end



#####
## Macros, that shows one reaction in discussion
#####

#macro(comment $reaction $diz $relation)
<div class="diz_header">
<span class="diz_header_prefix">Datum:</span> $!UTIL.showDate($reaction.Updated)<br/>
#if($reaction.Owner!=0)
#set($author=$UTIL.instantiate('User',$reaction.Owner))#sync($author)
<span class="diz_header_prefix">Od:</span> <A HREF="/Profile?userId=$!author.Id">$!author.Name</A><br/>
#else
<span class="diz_header_prefix">Od:</span> $!UTIL.getXPath($reaction,'data/author')<br/>
#end
<span class="diz_header_prefix">Titulek:</span> $!UTIL.getXPath($reaction,'data/title')<p/>
</div>
$!UTIL.getXPath($reaction,'data/text')<p/>
#if($UTIL.is($reaction,'Item','Discussion'))
<a href="$!URL.make("/EditDiscussion?action=add&dizId=$!diz.Id&threadId=0&relationId=$!relation.Id")">Odpovìdìt</a>
#else
<a href="$!URL.make("/EditDiscussion?action=add&dizId=$!diz.Id&threadId=$!reaction.Id&relationId=$!relation.Id")">Odpovìdìt</a>
#end
<p/>
#end



#####
## Macros, that deletes variable from context
#####

#macro(undef $name)
#set($ctx=$req.getAttribute('CONTEXT'))
#set($rqwty=$ctx.remove($name))
#end
