<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2.3.dtd">

<web-app>
	<display-name>AbcLinuxu.cz website</display-name>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>cz.abclinuxu.servlets.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>ISO-8859-2</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <servlet-name>Dumper</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>AbcInit</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.init.AbcInit</servlet-class>
        <init-param>
          <param-name>CONFIG</param-name>
          <param-value>WEB-INF/log4j.xml</param-value>
        </init-param>
        <init-param>
          <param-name>VELOCITY</param-name>
          <param-value>WEB-INF/velocity.properties</param-value>
        </init-param>
        <init-param>
          <param-name>URL</param-name>
          <param-value>jdbc:mysql://localhost/abc?user=literakl&amp;password=lkaretil&amp;useUnicode=true&amp;characterEncoding=ISO-8859-2</param-value>
        </init-param>
        <init-param>
          <param-name>TEMPLATES</param-name>
          <param-value>WEB-INF/templates.xml</param-value>
        </init-param>
        <init-param>
          <param-name>KERNEL</param-name>
          <param-value>WEB-INF/templates/auto/kernel.txt</param-value>
        </init-param>
        <init-param>
          <param-name>INDEX_PATH</param-name>
          <param-value>WEB-INF/index</param-value>
        </init-param>
        <init-param>
          <param-name>LINKS_TRAFIKA</param-name>
          <param-value>auto/abc.dat</param-value>
        </init-param>
        <init-param>
          <param-name>LINKS_ANNECA</param-name>
          <param-value>auto/abc2.dat</param-value>
        </init-param>
        <init-param>
          <param-name>LINKS_RSS</param-name>
          <param-value>auto/abc.rss</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ViewIndex</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.view.ViewIndex</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ViewRelation</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.view.ViewRelation</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>FindContext</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.view.FindContext</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ViewCategory</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.view.ViewCategory</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ViewItem</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.view.ViewItem</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ViewUser</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.view.ViewUser</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.view.Search</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.view.ShowOlder</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ForgottenPassword</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.view.ForgottenPassword</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.view.Redirect</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Survey</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.view.ShowSurvey</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>EditCategory</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.edit.EditCategory</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>EditDiscussion</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.edit.EditDiscussion</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.edit.EditUser</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>EditRelation</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.edit.EditRelation</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>EditPoll</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.edit.EditPoll</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>EditHardware</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.edit.EditHardware</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>EditSoftware</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.edit.EditSoftware</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>EditArticle</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.edit.EditArticle</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>EditRequest</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.edit.EditRequest</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>EditDriver</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.edit.EditDriver</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SelectIcon</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.view.SelectIcon</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SelectRelation</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.view.SelectRelation</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Dumper</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.utils.DumpRequest</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Reward</servlet-name>
        <servlet-class>cz.abclinuxu.servlets.utils.Reward</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>ViewCategory</servlet-name><url-pattern>/hardware/ViewCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCategory</servlet-name><url-pattern>/software/ViewCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCategory</servlet-name><url-pattern>/clanky/ViewCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCategory</servlet-name><url-pattern>/drivers/ViewCategory</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ViewItem</servlet-name><url-pattern>/hardware/ViewItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewItem</servlet-name><url-pattern>/software/ViewItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewItem</servlet-name><url-pattern>/clanky/ViewItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewItem</servlet-name><url-pattern>/drivers/ViewItem</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ViewRelation</servlet-name><url-pattern>/hardware/ViewRelation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRelation</servlet-name><url-pattern>/software/ViewRelation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRelation</servlet-name><url-pattern>/clanky/ViewRelation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRelation</servlet-name><url-pattern>/drivers/ViewRelation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindContext</servlet-name><url-pattern>/ViewRelation</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Search</servlet-name><url-pattern>/Search</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditCategory</servlet-name><url-pattern>/hardware/EditCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategory</servlet-name><url-pattern>/software/EditCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategory</servlet-name><url-pattern>/clanky/EditCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategory</servlet-name><url-pattern>/drivers/EditCategory</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditDiscussion</servlet-name><url-pattern>/hardware/EditDiscussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDiscussion</servlet-name><url-pattern>/software/EditDiscussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDiscussion</servlet-name><url-pattern>/clanky/EditDiscussion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDiscussion</servlet-name><url-pattern>/drivers/EditDiscussion</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditHardware</servlet-name><url-pattern>/hardware/EditItem</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditSoftware</servlet-name><url-pattern>/software/EditItem</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditArticle</servlet-name><url-pattern>/clanky/EditItem</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditDriver</servlet-name><url-pattern>/drivers/EditItem</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditPoll</servlet-name><url-pattern>/hardware/EditPoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPoll</servlet-name><url-pattern>/software/EditPoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPoll</servlet-name><url-pattern>/clanky/EditPoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPoll</servlet-name><url-pattern>/drivers/EditPoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPoll</servlet-name><url-pattern>/EditPoll</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SelectIcon</servlet-name><url-pattern>/SelectIcon</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SelectRelation</servlet-name><url-pattern>/SelectRelation</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditRelation</servlet-name><url-pattern>/EditRelation</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditRequest</servlet-name><url-pattern>/clanky/EditRequest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditUser</servlet-name><url-pattern>/EditUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ViewIndex</servlet-name><url-pattern>/Index</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ViewUser</servlet-name><url-pattern>/Profile</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ForgottenPassword</servlet-name><url-pattern>/ForgottenPassword</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Redirect</servlet-name><url-pattern>/Redirect</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Dumper</servlet-name><url-pattern>/DumpRequest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Reward</servlet-name><url-pattern>/Reward</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>History</servlet-name><url-pattern>/History</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Survey</servlet-name><url-pattern>/Survey</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
